h1 {
  color:black;
}

nav {

}

.form-control {
  width:65px;
}

.container {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.form-group{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.form-item{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-right: 35px;
  margin-top: 15px;
}

.btn-item{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

/*.btn-group{
  display:flex;
  flex-direction: row;
}*/

.cell {
  width: 16px;
  height: 16px;
  background-color: black;
  border: 1px solid black;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

button {
  display:flex;
  flex-direction:row;
  margin-top:15px;
}
